header {
    display: flex;
    position: fixed;
    height: 101px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff9cf;
    font-size: 50px;
    padding-left: 100px;
  }